In [3]:
import pandas as pd

In [13]:
df = pd.read_csv('resources/EclipseBugs.csv', encoding='utf8')

df.head(3)

,Bug ID,Product,Component,Assignee,Status,Resolution,Summary,Changed,Assignee Real Name,Classification,...,Number of Comments,Opened,OS,Priority,Reporter,Reporter Real Name,Severity,Target Milestone,Version,Votes
0,3638,JDT,UI,aeschli,VERIFIED,FIXED,Package Viewer: order resource folders before ...,1/17/2002 7:28,Martin Aeschlimann,Eclipse,...,3,10/10/2001 22:58,Windows NT,P1,aeschli,Martin Aeschlimann,major,---,2,0
1,3854,JDT,UI,aeschli,VERIFIED,FIXED,Wrong execution's classpath. (1GEY0W0),1/18/2002 4:02,Martin Aeschlimann,Eclipse,...,5,10/10/2001 23:01,Windows NT,P1,david_audel,David Audel,normal,---,2,0
2,4188,JDT,UI,aeschli,VERIFIED,FIXED,type hierachy - typo (1GJW2XJ),1/28/2002 3:12,Martin Aeschlimann,Eclipse,...,3,10/10/2001 23:07,Windows 2000,P1,erich_gamma,Erich Gamma,normal,---,2,0

### 1. Dig through the Jupyter Notebook provided and attempt to fix as many bugs as possible. There are a lot of them and the bugs get harder to deal with as the code progresses.

In [14]:
df.shape

(10000, 21)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
Bug
ID                10000 non-null int64
Product               10000 non-null object
Component             10000 non-null object
Assignee              10000 non-null object
Status                10000 non-null object
Resolution            10000 non-null object
Summary               10000 non-null object
Changed               10000 non-null object
Assignee
Real
Name    10000 non-null object
Classification        10000 non-null object
Hardware              10000 non-null object
Number of
Comments    10000 non-null int64
Opened                10000 non-null object
OS                    10000 non-null object
Priority              10000 non-null object
Reporter              10000 non-null object
Reporter
Real
Name    9967 non-null object
Severity              10000 non-null object
Target
Milestone      10000 non-null object
Version               10000 non-null object
Votes                 10000 non-null int64
dtypes: int64(3), object(18)
memory usage: 1.6+ MB

In [16]:
df.columns

Index(['Bug\nID', 'Product', 'Component', 'Assignee', 'Status', 'Resolution',
       'Summary', 'Changed', 'Assignee\nReal\nName', 'Classification',
       'Hardware', 'Number of\nComments', 'Opened', 'OS', 'Priority',
       'Reporter', 'Reporter\nReal\nName', 'Severity', 'Target\nMilestone',
       'Version', 'Votes'],
      dtype='object')

### a. Header is a mess. Loading again fixing the header

In [21]:
fixed_header = ['Bug ID','Product','Component','Assignee','Status','Resolution','Summary','Changed','Assignee Real Name','Classification','Hardware','Number of Comments','Opened','OS','Priority','Reporter','Reporter Real Name','Severity','Target Milestone','Version','Votes']


df = pd.read_csv('resources/EclipseBugs.csv', encoding='utf8', names=fixed_header, header=0)

df.head(3)

,Bug ID,Product,Component,Assignee,Status,Resolution,Summary,Changed,Assignee Real Name,Classification,...,Number of Comments,Opened,OS,Priority,Reporter,Reporter Real Name,Severity,Target Milestone,Version,Votes
0,3638,JDT,UI,aeschli,VERIFIED,FIXED,Package Viewer: order resource folders before ...,1/17/2002 7:28,Martin Aeschlimann,Eclipse,...,3,10/10/2001 22:58,Windows NT,P1,aeschli,Martin Aeschlimann,major,---,2,0
1,3854,JDT,UI,aeschli,VERIFIED,FIXED,Wrong execution's classpath. (1GEY0W0),1/18/2002 4:02,Martin Aeschlimann,Eclipse,...,5,10/10/2001 23:01,Windows NT,P1,david_audel,David Audel,normal,---,2,0
2,4188,JDT,UI,aeschli,VERIFIED,FIXED,type hierachy - typo (1GJW2XJ),1/28/2002 3:12,Martin Aeschlimann,Eclipse,...,3,10/10/2001 23:07,Windows 2000,P1,erich_gamma,Erich Gamma,normal,---,2,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 21 columns):
Bug ID                10000 non-null int64
Product               10000 non-null object
Component             10000 non-null object
Assignee              10000 non-null object
Status                10000 non-null object
Resolution            10000 non-null object
Summary               10000 non-null object
Changed               10000 non-null object
Assignee Real Name    10000 non-null object
Classification        10000 non-null object
Hardware              10000 non-null object
Number of Comments    10000 non-null int64
Opened                10000 non-null object
OS                    10000 non-null object
Priority              10000 non-null object
Reporter              10000 non-null object
Reporter Real Name    9967 non-null object
Severity              10000 non-null object
Target Milestone      10000 non-null object
Version               10000 non-null object
Votes                 10000 non-null int64
dtypes: int64(3), object(18)
memory usage: 1.6+ MB

### b. Handling Report Real Name NaN values

In [31]:
df['Reporter Real Name'].hasnans

True

In [36]:
cond1 = df['Reporter Real Name'].isna()

df_temp = df[cond1]

df_temp[['Bug ID', 'Product', 'Component', 'Reporter Real Name']].head(5)

      Bug ID   Product Component Reporter Real Name
189     8318  Platform     Debug                NaN
1062  189025  Platform       CVS                NaN
1895   44048  Platform     Debug                NaN
2686   83201       JDT     Debug                NaN
2745  130472       JDT      Text                NaN

In [38]:
df['Reporter Real Name'].fillna(value='Undefined',inplace=True)